name: Deploy Lambda

on:
  push:
    branches:
      - main
    paths:
      - 'aws_lambda_function.py' # Only deploy if the function code changes

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Zip Lambda Function
        run: zip -r lambda_function.zip aws_lambda_function.py

      - name: Deploy to AWS Lambda
        run: |
          aws lambda update-function-code \
            --function-name portfolio_recaptcha_handler \
            --zip-file fileb://lambda_function.zip
